  </div>

  <div class="item6">
    <a href="https://twitter.com/b2pdc"><img
       alt="Follow us on Twitter"
       title="Follow us on Twitter"
       src="{{ site.baseurl }}/images/TwitterLogo_blue.png"
       width="72"
       height="72" /></a>

    <a href="https://www.facebook.com/DCBooksToPrisons/"><img
       alt="Follow us on Facebook"
       title="Follow us on Facebook"
       src="{{ site.baseurl }}/images/FB-f-Logo__blue_1024.png"
       width="64"
       height="64" /></a><br />
    DC Books to Prisons |
    &copy;2015-{{ "today" | date: "%Y" }}
  </div>
