    </div>
  </section>
</main>

<footer id="footer" class="wrapper clear-block">
  <a href="https://twitter.com/b2pdc"><img
     alt="Follow us on Twitter"
     title="Follow us on Twitter"
     src="{{ site.baseurl }}/images/TwitterLogo_blue.png"
     style="width:72px; height:72px;"
     width="72"
     height="72"></a>&nbsp;

  <a href="https://www.facebook.com/DCBooksToPrisons/"><img
     alt="Follow us on Facebook"
     title="Follow us on Facebook"
     src="{{ site.baseurl }}/images/FB-f-Logo__blue_1024.png"
     style="width:64px; height:64px;"
     width="64"
     height="64"></a>&nbsp;&nbsp;

  <a href="https://www.instagram.com/dcbookstoprisons/"><img
     alt="Follow us on Instagram"
     title="Follow us on Instagram"
     src="{{ site.baseurl }}/images/instagram.png"
     style="width:64px; height:64px;"
     width="64"
     height="64"></a>&nbsp;&nbsp;

  <a href="https://bookstodon.com/@dcbookstoprisons"><img
     alt="Follow us on Mastodon"
     title="Follow us on Mastodon"
     src="{{ site.baseurl }}/images/mastodon.png"
     style="width:64px; height:64px;"
     width="64"
     height="64"></a><br>

  DC Books to Prisons |
  &copy;2015-{{ "today" | date: "%Y" }}
</footer>
