---
---
<div id="header-section" class="clear-block">
  <div class="wrapper clear-block">
    <div id="logo">
      <a href="{{ site.baseurl }}/" title="Homepage"><img
         src="{{ site.baseurl }}/themes/superclean/logo2019.jpg"
         alt=""
         class="sitelogo" /></a>
    </div>

    <div id="donate">
      <a href="https://www.paypal.com/fundraiser/charity/4021008"><img 
         src="{{ site.baseurl }}/Images/donate.jpg" alt="Donate by PayPal"></a><br /><a
         href="https://www.paypal.com/donate/?hosted_button_id=PSH9GFLFNT7UC"><em>(or
      become a monthly donor)</em></a>
    </div>
  </div>
</div>
