<div id="header-section" class="clear-block">
  <div class="wrapper clear-block">
    <div id="logo">
      <a href="{{ site.baseurl }}/" title="Homepage"><img
         src="{{ site.baseurl }}/images/logo2019.jpg"
         alt=""
         class="sitelogo" /></a>
    </div>

    <div id="donate">
      <a class="btn" href="https://www.paypal.com/donate/?hosted_button_id=PSH9GFLFNT7UC">Donate Online</a>
    </div>
  </div>
</div>

<div id="content-region" class="wrapper clear-block">

  {% include leftbar.html %}

  <div id="body-section">
    <h1 id="page-title">{{ page.title }}</h1>

    <div class="content clear-block">
