  <div class="item1">
    <a href="{{ site.baseurl }}/" title="Homepage"><img
       src="{{ site.baseurl }}/images/logo2019.svg"
       alt=""
       class="sitelogo" /></a>
  </div>

  <div class="item4">
    <a class="btn"
       href="https://www.paypal.com/fundraiser/charity/4021008">Donate&nbsp;via&nbsp;PayPal</a>
  </div>
  <div class="item7"><em><a
        href="https://www.paypal.com/donate/?hosted_button_id=PSH9GFLFNT7UC">(or
    become a monthly donor)</a></em>
  </div>

  {% include leftbar.html %}

  <div class="item3">
    <h1 id="page-title">{{ page.title }}</h1>
